.btn{
    background-color:#627C8E;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    transition: all .3s ease-in-out;
  }

  .btn:hover{
    background-color:#18d4ca;
  }

  .btn:focus{
    background-color:#18d4ca;
  }

  .btn:active{
    background-color:#18d4ca;
  }

  .btn:disabled{
    background-color:#18d4ca;
  }

  .btn:disabled:hover{
    background-color:#18d4ca;
  }